@using Microsoft.AspNetCore.Identity
@inject Microsoft.AspNetCore.Identity.UserManager<BTUser> userManager
@inject ZappitBugTracker.services.IBTRolesService rolesService
@inject ZappitBugTracker.services.IBTAccessService accessService
@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager
@inject ZappitBugTracker.services.IBTModalService modalService
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Zappit Bug Tracker</title>
	<!-- Bootstrap css -->
	<link href="~/bootstrap/bootstrap.min.css" rel="stylesheet" />
	<!-- morris css-->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
	<!-- Custom fonts for this template-->
	<link href="~/fontawesome-free/css/all.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		  rel="stylesheet">
	<!-- Custom styles for this template-->
	<link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
	<link href="~/css/site.css" rel="stylesheet" />
	@* Datatables *@
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-laugh-wink"></i>
				</div>
				<div class="sidebar-brand-text mx-3">zappIT</div>
			</a>
			<!-- Divider -->
			<hr class="sidebar-divider my-0">
			@if (User.IsInRole("NewUser"))
			{
				<li class="nav-item">
					<div class="nav-link collapsed">
						<span>Role: New User</span>
						<br />
						<span>Please contact you administrator to be assigned a role.</span>
					</div>
				</li>
			}
			@if (User.IsInRole("Submitter"))
			{
				<li class="nav-item">
					<div class="nav-link collapsed">
						<span>Role: Submitter</span>
					</div>
				</li>
				<hr class="sidebar-divider my-0">
				<!-- Nav Item - Create Ticket -->
				<li class="nav-item">
					<a class="nav-link" data-toggle="modal" data-target="#createTicketModal">
						<i class="fas fa-ticket-alt"></i>
						<span>Create New Ticket</span>
					</a>
				</li>
				<!-- Nav Item - Tables -->
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Tickets" asp-action="Index">
						<i class="fas fa-list"></i>
						<span>View Your Tickets</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Projects" asp-action="YourProjects">
						<i class="fas fa-list"></i>
						<span>View Your Projects</span>
					</a>
				</li>
			}
			@if (User.IsInRole("Developer"))
			{
				<li class="nav-item">
					<div class="nav-link collapsed">
						<span>Role: Developer</span>
					</div>
				</li>
				<hr class="sidebar-divider my-0">
				<!-- Nav Item - Tickets Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
					   aria-expanded="true" aria-controls="collapseTwo">
						<i class="fas fa-fw fa-cog"></i>
						<span>Tickets</span>
					</a>
					<div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">Ticket Options</h6>
							<a class="collapse-item" data-toggle="modal" data-target="#createTicketModal">Create New Ticket</a>
							<a class="collapse-item" asp-area="" asp-controller="Tickets" asp-action="Index">View Your Tickets</a>
							<a class="collapse-item" asp-area="" asp-controller="Tickets" asp-action="AllTickets">View All Tickets</a>
						</div>
					</div>
				</li>
				<!-- Nav Item - Projects Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
					   aria-expanded="true" aria-controls="collapseTwo">
						<i class="fas fa-fw fa-cog"></i>
						<span>Projects</span>
					</a>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">Project Options</h6>
							<a class="collapse-item" asp-area="" asp-controller="Projects" asp-action="YourProjects">Your Projects</a>
							<a class="collapse-item" asp-area="" asp-controller="Projects" asp-action="Index">View All Projects</a>
						</div>
					</div>
				</li>
			}
			@if (User.IsInRole("ProjectManager"))
			{
				<li class="nav-item">

					<div class="nav-link collapsed">

						<span> Role: Project Manager</span>
					</div>
				</li>
				<hr class="sidebar-divider my-0">
				<!--Nav Item - Tickets Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
					   aria-expanded="true" aria-controls="collapseTwo">
						<i class="fas fa-fw fa-cog"></i>
						<span> Tickets </span>
					</a>
					<div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">

						<div class="bg-white py-2 collapse-inner rounded">

							<h6 class="collapse-header">
								Ticket Options
							</h6>
							<a class="collapse-item" data-toggle="modal" data-target="#createTicketModal">Create New Ticket</a>
							<a class="collapse-item" asp-area="" asp-controller="Tickets" asp-action="Index">View Your Tickets</a>
							<a class="collapse-item" asp-area="" asp-controller="Tickets" asp-action="AllTickets">View All Tickets</a>
						</div>
					</div>
				</li>
				<!-- Nav Item - Projects Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
						<i class="fas fa-fw fa-cog"></i>
						<span>Projects</span>
					</a>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">Project Options</h6>
							<a class="collapse-item" data-toggle="modal" data-target="#createProjectModal">Create New Project</a>
							<a class="collapse-item" asp-area="" asp-controller="Projects" asp-action="YourProjects">Your Projects</a>
							<a class="collapse-item" asp-area="" asp-controller="Projects" asp-action="Index">View All Projects</a>
						</div>
					</div>
				</li>
			}
			@if (User.IsInRole("Admin"))
			{
				<li class="nav-item">
					<div class="nav-link collapsed">
						<span>Role: Administrator</span>
					</div>
				</li>
				<hr class="sidebar-divider my-0">
				<!--Nav Item - Tickets Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
					   aria-expanded="true" aria-controls="collapseTwo">
						<i class="fas fa-fw fa-cog"></i>
						<span>Tickets</span>
					</a>
					<div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">Ticket Options</h6>
							<a class="collapse-item" data-toggle="modal" data-target="#createTicketModal">Create New Ticket</a>
							<a class="collapse-item" asp-area="" asp-controller="Tickets" asp-action="Index">View Your Tickets</a>
							<a class="collapse-item" asp-area="" asp-controller="Tickets" asp-action="AllTickets">View All Tickets</a>
						</div>
					</div>
				</li>
				<!-- Nav Item - Projects Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
					   aria-expanded="true" aria-controls="collapseTwo">
						<i class="fas fa-fw fa-cog"></i>
						<span>Projects</span>
					</a>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">Project Options</h6>

							<a class="collapse-item" data-toggle="modal" data-target="#createProjectModal">Create New Project</a>
							<a class="collapse-item" asp-area="" asp-controller="Projects" asp-action="YourProjects">Your Projects</a>
							<a class="collapse-item" asp-area="" asp-controller="Projects" asp-action="Index">View All Projects</a>
						</div>
					</div>
				</li>
				<!-- Nav Item - Users Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
					   aria-expanded="true" aria-controls="collapseTwo">
						<i class="fas fa-fw fa-cog"></i>
						<span>Users</span>
					</a>
					<div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">User Options</h6>
							<a class="collapse-item" asp-area="" asp-controller="UserRoles" asp-action="ManageUserRoles">Assign Users To Roles</a>
						</div>
					</div>
				</li>
			}
			<!--Divider-->
			<hr class="sidebar-divider d-none d-md-block">
			<!--Sidebar Toggler(Sidebar)-->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>
		</ul>
		<!--End of Sidebar -->
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!--Main Content-->
			<div id="content">
				<!--Topbar-->
				<!-- Topbar Search -->

				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					<!--Sidebar Toggle(Topbar)-->
					<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>
					<!--Topbar Navbar-->
					<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
						<div class="input-group">
							<input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
								   aria-label="Search" aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-primary" type="button">
									<i class="fas fa-search fa-sm"></i>
								</button>
							</div>
						</div>
					</form>
					<ul class="navbar-nav ml-auto">
						<partial name="_LoginPartial" />
						<!--Nav Item - Search Dropdown(Visible Only XS)-->
						<li class="nav-item dropdown no-arrow d-sm-none">
							<a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
							   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-search fa-fw"></i>
							</a>
							<!--Dropdown - Messages-->
							<div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
								 aria-labelledby="searchDropdown">
								<form class="form-inline mr-auto w-100 navbar-search">
									<div class="input-group">
										<input type="text" class="form-control bg-light border-0 small"
											   placeholder="Search for..." aria-label="Search"
											   aria-describedby="basic-addon2">
										<div class="input-group-append">
											<button class="btn btn-primary" type="button">
												<i class="fas fa-search fa-sm"></i>
											</button>
										</div>
									</div>
								</form>
							</div>
						</li>
						@if (SignInManager.IsSignedIn(User))
						{
							<!--Nav Item - Alerts-->
							<li class="nav-item dropdown no-arrow mx-1">
								<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
								   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-bell fa-fw">
									</i>
									<!--Counter - Alerts-->
									<span class="badge badge-danger badge-counter">3+</span>
								</a>
								<!--Dropdown - Alerts-->
								<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
									 aria-labelledby="alertsDropdown">
									<h6 class="dropdown-header">Alerts Center</h6>
									<a class="dropdown-item d-flex align-items-center" href="#">
										<div class="mr-3">
											<div class="icon-circle bg-primary">
												<i class="fas fa-file-alt text-white"></i>
											</div>
										</div>
										<div>
											<div class="small text-gray-500">December 12, 2019 </div>
											<span class="font-weight-bold">A new monthly report is ready to download!</span>
										</div>
									</a>
									<a class="dropdown-item d-flex align-items-center" href="#">
										<div class="mr-3">
											<div class="icon-circle bg-success">
												<i class="fas fa-donate text-white"></i>
											</div>
										</div>
										<div>
											<div class="small text-gray-500">December 7, 2019</div>
											$290.29 has been deposited into your account!
										</div>
									</a>
									<a class="dropdown-item d-flex align-items-center" href="#">
										<div class="mr-3">
											<div class="icon-circle bg-warning">
												<i class="fas fa-exclamation-triangle text-white"></i>
											</div>
										</div>
										<div>
											<div class="small text-gray-500">December 2, 2019 </div>
											Spending Alert: We've noticed unusually high spending for your account.
										</div>
									</a>
									<a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
								</div>
							</li>
							<div class="topbar-divider d-none d-sm-block">
							</div>
							<!--Nav Item - User Information-->
							<li class="nav-item dropdown no-arrow">
								<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
								   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="mr-2 d-none d-lg-inline text-gray-600 small">@((await UserManager.GetUserAsync(User)).FullName)</span>
									<img class="img-profile rounded-circle"
										 src="img/undraw_profile.svg">
								</a>
								<!--Dropdown - User Information-->
								<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
									 aria-labelledby="userDropdown">
									<a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="Index">
										<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
										Your Tickets
									</a>
									<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
										<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
										Settings
									</a>
									<a class="dropdown-item" href="#">
										<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
										Activity Log
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
										<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										Logout
									</a>
								</div>
							</li>
						}
					</ul>
				</nav>
				<!--End of Topbar -->
				<!-- Begin Page Content -->
				<div class="container-fluid">
					@RenderBody()
				</div>
				<!--End of Main Content -->
				<!-- Footer -->
				<!-- End of Footer -->
			</div>
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Zappit Bug Tracker, <a href="//adrianedelen.com" target="_blank">My Portfolio</a>, <a href="//github.com/adrianedelen" target="_blank">My Github</a></span>
					</div>
				</div>
			</footer>
			<!-- End of Content Wrapper -->
		</div>
	</div>
	<!-- End of Page Wrapper -->
	<!--Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"> Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area=""})">
						<button type="submit" class="btn btn-primary">Logout</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	@* create ticket modal *@
	<div class="modal fade" id="createTicketModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Create A Ticket</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="card shadow mb-4 h-100">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<form asp-action="Create" asp-controller="Tickets">
										<div class="form-group">
											<label for="titleInput">Title:</label>
											<input type="text" class="form-control" id="titleInput" name="Title" />
										</div>
										<div class="form-group">
											<label for="descriptionInput">Description:</label>
											<textarea type="text" class="form-control" id="descriptionInput" name="Description"> </textarea>
										</div>
										<div class="form-group">
											<label>Category:</label>
											@Html.DropDownList("TicketTypeId", modalService.TypeDropDown(), new { @class = "form-control" })
										</div>
										<div class="form-group">
											<label>Project:</label>
											@Html.DropDownList("ProjectId", modalService.ProjectDropDown(), new { @class = "form-control" })
										</div>
										<input type="submit" value="Create" class="btn btn-primary" />
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@* Create Project Modal *@
	<div class="modal fade" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Create A Project</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="card shadow mb-4 h-100">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<form asp-action="Create" asp-controller="Projects" enctype="multipart/form-data">
										<div asp-validation-summary="ModelOnly" class="text-danger"></div>
										<div class="form-group">
											<label for="NameInput" class="control-label">Project Name:</label>
											<input type="text" name="Name" id="NameInput" class="form-control" />

										</div>
										<div class="form-group">
											<label>Project Logo (Not Required):</label>
											<input name="ImageData" type="file" class="form-control-file" />
										</div>
										<div class="form-group">
											<input type="submit" value="Create" class="btn btn-primary" />
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!--End of Page Wrapper -->
	<!-- Bootstrap core JavaScript-->
	<script src="~/jquery/jquery.min.js"></script>
	<script src="~/bootstrap/js/bootstrap.min.js"></script>
	<!-- Core plugin JavaScript-->
	<script src="~/jquery-easing/jquery.easing.min.js"></script>
	<!-- Custom scripts for all pages-->
	<script src="~/js/sb-admin-2.min.js"></script>
	<!-- Page level plugins -->
	<script src="~/chart.js/Chart.min.js"></script>
	<!-- Page level custom scripts -->
	<script src="~/js/demo/chart-area-demo.js"></script>
	<script src="~/js/demo/chart-pie-demo.js"></script>
	<!-- Page level plugins -->
	<script src="vendor/chart.js/Chart.min.js"></script>
	<!-- morris chart -->
	@* Datatables *@
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
	<!-- DataTables Plugin -->
	<script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/plug-ins/1.10.21/features/pageResize/dataTables.pageResize.min.js"></script>
	@* Sweet Alert *@
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#myTable1').DataTable({
				"order": [[2, "desc"]],
				pageLength: 4
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			$('.myTableHistory').DataTable({
				"order": [[3, "desc"]],
				pageLength: 10,
				"bFilter": false
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			$('.myTableTicketsIndex').DataTable({
				"order": [[2, "desc"]],
				pageLength: 10
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			$('#allTicketsTable').DataTable({
				"order": [[2, "desc"]],
				pageLength: 10
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			$('#projectTicketsTable').DataTable({
				"order": [[2, "desc"]],
				pageLength: 10
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			$('#projectsTable').DataTable({
				"order": [[2, "desc"]],
				pageLength: 10
			});
		});
	</script>
	@if (TempData["DemoLockout"] != null)
	{
		<script>
		function alertFn() {
			alert(@TempData["DemoLockout"]);
		}
		</script>
	}
	@RenderSection("Scripts", required: false)
</body>
</html>
