@model ZappitBugTracker.Models.Ticket
@inject Microsoft.AspNetCore.Identity.UserManager<BTUser> userManager
@inject ZappitBugTracker.services.IBTRolesService rolesService
@inject ZappitBugTracker.services.IBTProjectService projectService
@inject ZappitBugTracker.services.IBTAccessService accessService
@inject ZappitBugTracker.services.IBTAttachmentService attachmentService
@inject ZappitBugTracker.services.IBTModalService modalService
@{
	var user = await userManager.GetUserAsync(User);
	var userId = await userManager.GetUserIdAsync(user);
	var ticketId = Model.Id;
	ViewData["Title"] = "Details";
}
<h1>@Model.Title</h1>

<hr />
<div>
	<!-- Description and Details-->
	<div class="row mb-4">
		<!-- Description -->
		<div class="col">
			<div class="row mb-4">
				<div class="col">
					<div class="card shadow mb-4 h-100">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Description <a data-toggle="modal" data-target="#editTicketDescription">(edit)</a></h6>
						</div>
						<div class="card-body">
							@Html.DisplayFor(model => model.Description)
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- End Description -->
				<!-- Details -->
				<div class="col">
					<div class="card shadow mb-4 h-100">
						@if (Model.TicketPriorityId == 1)
						{
							<div class="card-header py-3 border-bottom-info">
								<h6 class="m-0 font-weight-bold text-dark">
									Ticket Details
									@if (await accessService.CanInteractTicket(userId, Model.Id, "Developer")
|| await rolesService.IsUserInRole(user, "Admin")
|| (await rolesService.IsUserInRole(user, "ProjectManager")
&& await projectService.IsUserOnProject(userId, Model.ProjectId))
|| userId == Model.OwnerUserId)
									{ }
								</h6>
							</div>
						}
						@if (Model.TicketPriorityId == 2)
						{
							<div class="card-header py-3 border-bottom-success">
								<h6 class="m-0 font-weight-bold text-dark">
									Ticket Details
									@if (await accessService.CanInteractTicket(userId, Model.Id, "Developer")
|| await rolesService.IsUserInRole(user, "Admin")
|| (await rolesService.IsUserInRole(user, "ProjectManager")
&& await projectService.IsUserOnProject(userId, Model.ProjectId))
|| userId == Model.OwnerUserId)
									{

									}
								</h6>
							</div>
						}
						@if (Model.TicketPriorityId == 3)
						{
							<div class="card-header py-3 border-bottom-warning">
								<h6 class="m-0 font-weight-bold text-dark">
									Ticket Details
									@if (await accessService.CanInteractTicket(userId, Model.Id, "Developer")
|| await rolesService.IsUserInRole(user, "Admin")
|| (await rolesService.IsUserInRole(user, "ProjectManager")
&& await projectService.IsUserOnProject(userId, Model.ProjectId))
|| userId == Model.OwnerUserId)
									{

									}
								</h6>
							</div>
						}
						@if (Model.TicketPriorityId == 4)
						{
							<div class="card-header py-3 border-bottom-danger">
								<h6 class="m-0 font-weight-bold">
									Ticket Details
									@if (await accessService.CanInteractTicket(userId, Model.Id, "Developer")
|| await rolesService.IsUserInRole(user, "Admin")
|| (await rolesService.IsUserInRole(user, "ProjectManager")
&& await projectService.IsUserOnProject(userId, Model.ProjectId))
|| userId == Model.OwnerUserId)
									{

									}
								</h6>
							</div>
						}
						<div class="card-body">
							<div class="row">
								<div class="col">
									<dl>
										<dt class="">
											Created Date
										</dt>
										<dd class="col-sm-10">
											@Html.DisplayFor(model => model.Created)
										</dd>
										@if (Model.Updated != null)
										{
											<dt class="">
												Updated Date
											</dt>
											<dd class="col-sm-10">
												@Html.DisplayFor(model => model.Updated)
											</dd>
										}
										else
										{
											<dt class="">
												Updated Date
											</dt>
											<dd class="col-sm-10">
												Not Applicable
											</dd>
										}
										<dt class="">
											Priority <a class="text-dark" data-toggle="modal" data-target="#editTicketPriority">(edit)</a>
										</dt>
										<dd class="col-sm-10">
											@Html.DisplayFor(model => model.TicketPriority.Name)
										</dd>
										<dt class="">
											Status <a class="text-dark" data-toggle="modal" data-target="#editTicketStatus">(edit)</a>
										</dt>
										<dd class="col-sm-10">
											@Html.DisplayFor(model => model.TicketStatus.Name)
										</dd>

									</dl>
								</div>
								<div class="col">
									<dl>

										<dt class="">
											Project Name <a class="text-dark" data-toggle="modal" data-target="#editTicketProject">(edit)</a>
										</dt>
										<dd class="col-sm-10">
											@Html.DisplayFor(model => model.Project.Name)
										</dd>
										<dt class="">
											Category <a class="text-dark" data-toggle="modal" data-target="#editTicketCategory">(edit)</a>
										</dt>
										<dd class="col-sm-10">
											@Html.DisplayFor(model => model.TicketType.Name)
										</dd>
										<dt class="">
											Ticket Creator
										</dt>
										<dd class="col-sm-10">
											@Html.DisplayFor(model => model.OwnerUser.FullName)
										</dd>


										<dt class="">
											Assigned Developer <a class="text-dark" data-toggle="modal" data-target="#editTicketDev">(edit)</a>
										</dt>
										@if (Model.DeveloperUserId != null)
										{
											<dd class="col-sm-10">
												@Html.DisplayFor(model => model.DeveloperUser.FullName)
											</dd>
										}
										else
										{
											<dd class="col-sm-10">
												Unassigned
											</dd>
										}
									</dl>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- End Details-->
			</div>
		</div>
		<!-- End Description and Details -->
		<!-- Comments-->
		<div class="col">
			<div class="card shadow mb-4 h-100">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Comments</h6>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="table-responsive">
							<table class="table myTableComments" id="myTable1">
								<thead>
									<tr>
										<th>
											Comment
										</th>
										<th>
											Author
										</th>
										<th>
											Created
										</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.Comments)
									{
										<tr>
											<td>
												@Html.DisplayFor(modelItem => item.Comment)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.User.FullName)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.Created)
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col">
							@if (await accessService.CanInteractTicket(userId, Model.Id, "Developer")
						 || await rolesService.IsUserInRole(user, "Admin")
						 || (await rolesService.IsUserInRole(user, "ProjectManager")
						 && await projectService.IsUserOnProject(userId, Model.ProjectId))
						 || userId == Model.OwnerUserId)
							{
								<form asp-controller="TicketComments" asp-action="Create">
									<div asp-validation-summary="ModelOnly" class="text-danger"></div>
									@Html.Hidden("TicketId", Model.Id)
									<div class="form-group">
										<textarea name="Comment" class="form-control" required placeholder="Enter Your Comment"> </textarea>
									</div>
									<div class="form-group d-flex align-items-end flex-column">
										<input type="submit" value="Submit Comment" class="btn btn-primary mt-auto" style="" />
									</div>
								</form>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Comments-->
	</div>
	<!--Attachments-->
	<div class="row">
		<div class="col">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
							<i class="fas fa-plus"></i>
					<h6 class="m-0 font-weight-bold text-primary">Attachments</h6>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-2">
							<div>
								<form asp-action="MakeAttachment" asp-controller="Tickets" enctype="multipart/form-data" method="post">
									<div asp-validation-summary="ModelOnly" class="text-danger"></div>
									<input type="hidden" asp-for="@Model.Id" name="TicketId">

									<div class="media-body ml-3">

										<label>
											FileName
											<input asp-for="@Model.Attachments.FirstOrDefault().Description" type="text" class="form-control" />
										</label><br />
										<label class="btn btn-outline-primary btn-sm">
											<input asp-for="@Model.Attachments.FirstOrDefault().FormFile" type="file" />
										</label>
										<button type="submit" class="btn btn-outline-secondary btn-sm md-btn-flat">Submit</button>
									</div>
								</form>
							</div>
						</div>

						@foreach (TicketAttachment item in Model.Attachments)
						{
							@if (item != null)
							{

								<div class="col-sm-1">

									<div class="file">
										<a asp-controller="Tickets" asp-action="DownloadFile" asp-route-id="@item.Id">
											<div class="icon">
												<img src="@attachmentService.GetFileIcon(item.FileName)" style="height:60px;width:60px" />
											</div>
											<div class="file-name">
												<p class="m-b-5 text-muted">@item.Description</p>
												<small>Size: @attachmentService.FormatFileSize(item.FileData.Length) <span class="date text-muted">@item.Created.ToString("MMM dd, yyyy")</span></small>
											</div>
										</a>
										<a asp-controller="Tickets" asp-action="DownloadFile" asp-route-id="@item.Id" download><div class="btn btn-outline-primary">Download</div></a>
									</div>

								</div>
							}
						}

					</div>
				</div>
			</div>
		</div>
	</div>

<!-- End Attachments-->
<!-- Histories -->
<div class="row">
	<div class="col">
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Ticket Histories</h6>
			</div>
			<div class="card-body">
				<table class="table myTableHistory" id="myTable1">
					<thead>
						<tr>
							<th>
								Changed Field
							</th>
							<th>
								Original
							</th>
							<th>
								Updated
							</th>
							<th>
								Change Date
							</th>

							<th>
								Changed By
							</th>

						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.Histories)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.Property)
								</td>
								<td>

									@Html.DisplayFor(modelItem => item.OldValue)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.NewValue)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Created)
								</td>

								<td>
									@Html.DisplayFor(modelItem => item.User.Id)
								</td>

							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- End Histories-->
</div>
<!-- Modals -->
<div class="modal fade" id="editTicketPriority" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Ticket</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="card shadow mb-4 h-100">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<form asp-action="Edit">
									<div asp-validation-summary="ModelOnly" class="text-danger"></div>
									<input type="hidden" asp-for="Id" />
									<input type="hidden" asp-for="OwnerUserId" />
									<input type="hidden" asp-for="Created" />
									<input type="hidden" asp-for="Title" />
									<input type="hidden" asp-for="Description" />
									<input type="hidden" asp-for="TicketStatusId" />
									<input type="hidden" asp-for="ProjectId" />
									<input type="hidden" asp-for="TicketTypeId" />
									<input type="hidden" asp-for="DeveloperUserId" />
									


									<div class="form-group">
										<label>Priority:</label>
										@Html.DropDownList("TicketPriorityId", modalService.PriorityDropDown(), new { @class = "form-control" })
									</div>
									<div class="form-group">
										<input type="submit" value="Save" class="btn btn-primary" />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="editTicketStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Ticket</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="card shadow mb-4 h-100">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<form asp-action="Edit">
									<input type="hidden" asp-for="Id" />
									<input type="hidden" asp-for="OwnerUserId" />
									<input type="hidden" asp-for="Created" />
									<input type="hidden" asp-for="Title" />
									<input type="hidden" asp-for="Description" />
									<input type="hidden" asp-for="ProjectId" />
									<input type="hidden" asp-for="TicketTypeId" />
									<input type="hidden" asp-for="DeveloperUserId" />
									<input type="hidden" asp-for="TicketPriorityId" />
									<div class="form-group">
										<label>Status:</label>
										@Html.DropDownList("TicketStatusId", modalService.StatusDropDown(), new { @class = "form-control" })
									</div>
									<div class="form-group">
										<input type="submit" value="Save" class="btn btn-primary" />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="editTicketProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Ticket</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="card shadow mb-4 h-100">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<form asp-action="Edit">
									<input type="hidden" asp-for="Id" />
									<input type="hidden" asp-for="OwnerUserId" />
									<input type="hidden" asp-for="Created" />
									<input type="hidden" asp-for="Title" />
									<input type="hidden" asp-for="Description" />
									<input type="hidden" asp-for="TicketStatusId" />
									<input type="hidden" asp-for="TicketTypeId" />
									<input type="hidden" asp-for="DeveloperUserId" />
									<input type="hidden" asp-for="TicketPriorityId" />
									<div class="form-group">
										<label>Project:</label>
										@Html.DropDownList("ProjectId", modalService.ProjectDropDown(), new { @class = "form-control" })
									</div>
									<div class="form-group">
										<input type="submit" value="Save" class="btn btn-primary" />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="editTicketCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Ticket</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="card shadow mb-4 h-100">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<form asp-action="Edit">
									<div asp-validation-summary="ModelOnly" class="text-danger"></div>
									<input type="hidden" asp-for="Id" />
									<input type="hidden" asp-for="OwnerUserId" />
									<input type="hidden" asp-for="Created" />
									<input type="hidden" asp-for="Title" />
									<input type="hidden" asp-for="Description" />
									<input type="hidden" asp-for="TicketStatusId" />
									<input type="hidden" asp-for="ProjectId" />
									<input type="hidden" asp-for="DeveloperUserId" />
									<input type="hidden" asp-for="TicketPriorityId" />
									<div class="form-group">
										<label>Category:</label>
										@Html.DropDownList("TicketTypeId", modalService.TypeDropDown(), new { @class = "form-control" })
									</div>
									<div class="form-group">
										<input type="submit" value="Save" class="btn btn-primary" />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editTicketDev" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Ticket</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="card shadow mb-4 h-100">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<form asp-action="Edit">
									<div asp-validation-summary="ModelOnly" class="text-danger"></div>
									<input type="hidden" asp-for="Id" />
									<input type="hidden" asp-for="OwnerUserId" />
									<input type="hidden" asp-for="Created" />
									<input type="hidden" asp-for="Title" />
									<input type="hidden" asp-for="Description" />
									<input type="hidden" asp-for="TicketStatusId" />
									<input type="hidden" asp-for="ProjectId" />
									<input type="hidden" asp-for="TicketTypeId" />
									<input type="hidden" asp-for="TicketPriorityId" />
									<div class="form-group">
										<label>Assigned Developer:</label>
										@Html.DropDownList("DeveloperUserId", modalService.DevUserDropDown(), new { @class = "form-control" })
									</div>
									<div class="form-group">
										<input type="submit" value="Save" class="btn btn-primary" />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editTicketDescription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Ticket</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="card shadow mb-4 h-100">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<form asp-action="Edit">
									<div asp-validation-summary="ModelOnly" class="text-danger"></div>
									<input type="hidden" asp-for="Id" />
									<input type="hidden" asp-for="OwnerUserId" />
									<input type="hidden" asp-for="Created" />
									<input type="hidden" asp-for="Title" />
									<input type="hidden" asp-for="TicketStatusId" />
									<input type="hidden" asp-for="ProjectId" />
									<input type="hidden" asp-for="TicketTypeId" />
									<input type="hidden" asp-for="DeveloperUserId" />
									<input type="hidden" asp-for="TicketPriorityId" />
									<div class="form-group">
										<label>Description:</label>
										<textarea type="text" class="form-control" name="Description"> </textarea>
									</div>
									<div class="form-group">
										<input type="submit" value="Save" class="btn btn-primary" />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>