@model IEnumerable<ZappitBugTracker.Models.Ticket>
@inject Microsoft.AspNetCore.Identity.UserManager<BTUser> userManager
@inject ZappitBugTracker.services.IBTRolesService rolesService
@inject ZappitBugTracker.services.IBTProjectService projectService
@inject ZappitBugTracker.services.IBTAccessService accessService
@{
	var user = await userManager.GetUserAsync(User);
	var userId = await userManager.GetUserIdAsync(user);
	ViewData["Title"] = "Index";
}


<div class="card shadow mb-4 h-100">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Your Tickets</h6>
	</div>
	<div class="card-body">
		<table class="table myTableTicketsIndex" id="myTable3">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Title)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Description)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Created)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Updated)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Project)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.TicketType)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.TicketPriority)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.TicketStatus)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.OwnerUser)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.DeveloperUser)
					</th>
					
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					if (await accessService.CanInteractTicket(userId, item.Id, "Developer")
						|| await rolesService.IsUserInRole(user, "Admin")
						|| (await rolesService.IsUserInRole(user, "ProjectManager")
						&& await projectService.IsUserOnProject(userId, item.ProjectId))
						|| userId == item.OwnerUserId)
					{
						<tr>
							<td>
								<a asp-action="Details" asp-route-id="@item.Id">
									@Html.DisplayFor(modelItem => item.Title)
								</a>
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Description)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Created)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Updated)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Project.Name)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.TicketType.Id)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.TicketPriority.Id)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.TicketStatus.Id)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.OwnerUser.FullName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
							</td>
							
						</tr>
					}
				}
			</tbody>
		</table>

	</div>

</div>

