@model IEnumerable<ZappitBugTracker.Models.TicketComment>

@{
	ViewData["Title"] = "Comments";
}

<h1>Comments for This Ticket</h1>

<p>
	<a asp-route-id="@ViewData["Ticket.Id"]" asp-action="Create">Create New Comment</a>
</p>
<div>
	<a asp-area="" asp-controller="Tickets" asp-action="ProjectTickets">Back to Tickets</a>
</div>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Comment)
			</th>

			<th>
				@Html.DisplayNameFor(model => model.Created)
			</th>
			
			<th>
				@Html.DisplayNameFor(model => model.TicketId)
			</th>
			
			<th>
				@Html.DisplayNameFor(model => model.User)
			</th>
			
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Comment)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.Created)
				</td>
				
				<td>
					@Html.DisplayFor(modelItem => item.TicketId)
				</td>
				
				<td>
					@Html.DisplayFor(modelItem => item.User.FirstName)
					@Html.DisplayFor(modelItem => item.User.LastName)
					@Html.DisplayFor(modelItem => item.User.UserName)
				</td>
				
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>